Hi there,

Ai đó đã yêu cầu đặt lại mật khẩu cho email {{ email }}.
Truy cập vào link sau và làm theo hướng dẫn:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Nếu không bấm được vào link trên, hãy sao chép và dán link vào tab mới trên trình duyệt.

Nếu bạn nhận được email này do nhầm lẫn, có khả năng một người dùng khác đã nhập địa chỉ email của bạn do nhầm lẫn trong khi cố gắng đặt lại mật khẩu. Nếu bạn không yêu cầu, bạn không cần thực hiện thêm bất kỳ hành động nào và có thể bỏ qua email này.

Thanks,
The Web Boards Team